/* html {
  font-size: 14px;
} */

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 0 1rem white;
    padding: 0.5rem;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    align-items: flex-end;
}


.logo {
  height: 100%;
  display: table;
  float: left;
  padding: 1.5rem;
}
.logo h1{
  color: #008B8B;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-family: 'Patrick Hand','Arial';
}
/* 
 .nav ul {
   float: right;
   margin-right: 0.7rem;
 }
 .nav ul li {
   display: inline-block;
   line-height: 4rem;
   margin-right: 0.4rem;
 } */
.nav {
  
  /* float: right; */
  margin-right: 0.7rem;
  display: inline-block;
  line-height: 4rem;
  margin-right: 0.4rem;
}

  a {
   color: #008B8B;
   text-transform: uppercase;
   font-family: 'Play','Arial';
   text-decoration: none;
   position: relative;
   padding-right: 0.5rem;
 }

 a.active {
   color: black;
 }
 a:after {
   content: '';
   position: absolute;
   background-color:  #008B8B;
   height: 3px;
   width: 0;
   left: 0;
   bottom: -10px;
   transition: 0.3s;
 }
 a:hover::after {
   width: 100%;
 }

main {
  font-family: 'Comfortaa','Arial';
  color: #FFFFFF;
  background: linear-gradient(#008B8B, #9198E5);
  padding-top: 5rem;
}

.primary-header {
  padding: 1.5rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
}

.about-me-section {
  margin-left: 1.5rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
}

.section-no-header{
  display: flex;
  justify-content: space-between;
}
.about-me-image {
  padding: 1rem 0.6rem 1.5rem;
}
img {
  border-radius: 10%;
}

.about-me-p {
  float: right;
  padding: 1rem 0.6rem 1.5rem;
  text-align: left;
  word-spacing: 0.2rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
  line-height: 2.3rem;
}

.my-skills {
  margin-left: 1.5rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
}

.my-skills-image {
  padding: 3.5rem 0.6rem 1.5rem;
}

.my-skills-list {
  list-style: circle;
  float: right;
  padding: 0.5rem 0.6rem 1.5rem;
  text-align: left;
  word-spacing: 0.2rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
  line-height: 2.3rem;
}

.my-motto {
  margin-left: 1.5rem;
  color: white;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;
}

.my-motto-quote {
  padding: 0.5rem 0.6rem 1.5rem;
  font-style:italic;
}
.my-motto-text {
  font-size: 2rem;
}
.my-motto-author {
  padding: 2rem 0.6rem 1.5rem;
  /* font-size: 20px; */
  margin-top: 2rem;
}
/* Table */

.table {
  width: 90%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  display: grid;
  margin: 0 3%;
}


.row_header {
  display: grid;
  grid-template-columns: 100px repeat(3, minmax(100px, 1fr));
}
.row_header:nth-last-of-type(odd) {
  background: #008B8B;
}

.cell_header {
    background: black;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5%;
}
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }


@media screen and (max-width: 1920px) {
  .table {
    overflow: scroll;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 850px) {
  .table {
    font-size: 50%;
    overflow: scroll;
    overflow-y: hidden;
  }
  img {
    width: 70%;
    padding-left: 1%;
    padding-top: 0;
  }
  .section-no-header {
    display: block;
  }
  .my-skills-list {
    float: left;
  }


}

@media screen and (max-width: 683px) {
  .my-motto-text {
    font-size: 1.5rem;
  }
  .my-motto-author {
    font-size: 1rem;
  }
}
@media screen and (max-width: 415px) {
  main {
      padding-top: 8rem;
    }
}

@media screen and (max-width: 375px) {
  .about-me-image, .my-skills-image  {
        display: none;
    }

  .my-skills-list, .about-me-p {
    font-size: 0.8rem;
  }
  .about-me-header, .my-skills-header, .my-motto-header {
    font-size: 1rem;
  }
  .my-motto-text {
    font-size: 1rem;
  }
  .my-motto-author {
    font-size: 0.8rem;
  }
  .nav ul li a {
    font-size: 0.8rem;
  }

  main {
    padding-top: 9.5rem;
  }

}

.footer-text {
  /* font-size: 20px; */
  font-family: 'Playball','Arial';
  color: white;
  text-shadow: 0.2rem 0.2rem 0.4rem #000000;


}
.load_time {
  text-align: center;
}
.contact-image {
    width: 7rem;
    height: 7rem;
    object-fit: contain;
}
.footer-content {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.footer {
  background: linear-gradient(#9198e5, #3A3B3C);
  color: white;
}
